.btn {
	border: none;
    background-color: #eee;
    color: #222;
    font-size: 1rem;
    font-family: inherit;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-left: 974px;
  }
  
  
  #value {
	text-align: center;
    margin-left: 861px;
    margin-top: 100px;
    padding: 27px;
    font-size: 20px;
}
  
  .heading{
	text-align: center;
	
  }